[data-testid="stAppViewContainer"] {
    background: linear-gradient(to bottom, #000000 60%, #4B0000 100%);
    color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
    color: #f5f5f5;
}

h1, h2 {
    text-align: center;
}

.info-box, .contact-box {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px 25px;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 30px;
}